dist
dist.zip
cesium.zip
node_modules

signer.pub
export.sig
extension.pem
.env.local
dist.pem
dist.crx
bun.lockb
vite.config.ts.timestamp*
dev-dist/
android/.idea/deploymentTargetSelector.xml
.DS_Store