.passcode-keyboard {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 264px;
}

.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.keyboard-button {
  padding: 15px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}


.delete-button {
  grid-column: 3;
}
